<form method="post" action="/sessions"> 
        <label for="email">Email
            <input type="text" value="" name="email" id="email">
        </label>
        <label for="password">Password
            <input type="password" name="password" id="password">
        </label>
        <button value="Login" type="submit">Login</button>
</form>
